%div(replacement_player)
.btn.btn-default(ng-click="update()")Update
%div
  .btn.btn-default(ng-click='toggleRedZone()') Red Zone
  .btn.btn-default(ng-click='toggleSumAvg()') Sum/Avg
  .btn.btn-default(ng-click='togglePosition("WR")') WR
  .btn.btn-default(ng-click='togglePosition("QB")') QB
  .btn.btn-default(ng-click='togglePosition("TE")') TE
  .btn.btn-default(ng-click='togglePosition("RB")') RB
#weeksContainer
  %span(ng-repeat='value in weeks | byKey')
    #checkbox_container
      %span {{value}}
      %input(type='checkbox' ng-model='weeks[value]')
  #weeks_slider

