%div
  %a.button.radius{:href => '#'} Red Zone
  %a.button.radius{:href => '#'} WR
  %a.button.radius.disabled{:href => '#'} QB
  %a.button.radius.secondary{:href => '#'} TE
  %a.button.radius{:href => '#'} RB
  %a.button.radius.float--right{:href => '#'} Sum/Avg
%span(ng-repeat='value in weeks | byKey')
  #checkbox_container
    %span {{value}}
    %input(type='checkbox' ng-model='weeks[value]')
#weeks_slider
