%div(replacement_player)
.button(ng-click="update()")
%div
  .button(ng-click='toggleRedZone()') Red Zone
  .button(ng-click='toggleSumAvg()') Sum/Avg
  .button(ng-click='togglePosition("WR")') WR
  .button(ng-click='togglePosition("QB")') QB
  .button(ng-click='togglePosition("TE")') TE
  .button(ng-click='togglePosition("RB")') RB
%span(ng-repeat='value in weeks | byKey')
  #checkbox_container
    %span {{value}}
    %input(type='checkbox' ng-model='weeks[value]')
#weeks_slider

