.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %ul.navar.navbar-nav
        %li
          %a.btn.btn-default.navbar-btn(ui-sref="search") Search
          %li
            %a.btn.btn-default.navbar-btn(ui-sref="players") Players
          %li
            %a.btn.btn-default.navbar-btn(ui-sref="teams") Teams

