.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %ul.navar.navbar-nav
        %li
          %a.btn.btn-default.navbar-btn(ui-sref="search") Search
          %li
            %a.btn.btn-default.navbar-btn(ui-sref="players") Players
          %li
            %a.btn.btn-default.navbar-btn(ui-sref="teams") Teams
          %li
            %a.btn.btn-default.navbar-btn(ng-click="show_options_view = !show_options_view") Customize
%div.dontshow(ng_slide_down='show_options_view' duration='.5')
  %div(filter_options)

