.row
  .large-12.columns
    .nav-bar
      %ul.button-group
        %li
          %a.button(ui-sref="search") Search
        %li
          %a.button(ui-sref="players") Players
        %li
          %a.button(ui-sref="teams") Teams
    %h1
      Blog
      %small This is my blog. It's awesome.

