this is one player, from player.html.haml
%button{'ng-click' =>'vm.changeStat("passing_yds")'} passing yards
%button{'ng-click' =>'vm.changeStat("passing_tds")'} passing tds
%div(single_player_graph items='vm.items')

