%div(filter_options)
%div(players_graph)
%table.table.table-striped
  %thead
    %tr
      %th
        %th.table-bordered{:colspan => 3} Passing
        %th.table-bordered{:colspan => 3} Rushing
        %th.table-bordered{:colspan => 4} Receiving
        %th.table-bordered{:colspan => 6} Advanced
    %tr
      %th Player
      %th Yds
      %th TDs
      %th Int
      %th Yds
      %th TDs
      %th Att
      %th Yds
      %th TDs
      %th Rec
      %th Tar
      %th T. Pts
      %th GP
      %th Avg Rank
      %th Std Dev
      %th 1/5/10/15/25
      %th VORP
  %tbody
    %tr(ng-repeat="player in vm.players")>
      %td
        %div(single_player)
          %td {{player.passing_yds}}
      %td {{player.passing_tds}}
      %td.border-right {{player.passing_int}}
      %td {{player.rushing_yds}}
      %td {{player.rushing_tds}}
      %td.border-right {{player.rushing_att}}
      %td {{player.receiving_yds}}
      %td {{player.receiving_tds}}
      %td {{player.receiving_rec}}
      %td.border-right {{player.receiving_tar}}
      %td {{player.total_points}}
      %td {{player.games_played}}
      %td {{player.avg_rank}}
      %td {{player.std_dev}}
      %td
        %span {{player.top_one}}/{{player.top_five}}/{{player.top_ten}}/{{player.top_fifteen}}/{{player.top_twentyfive}}
      %td(vorp player="player")
