this is one player, from player.html.haml
%button{'ng-click' =>'vm.changeStat("passing_yds")'} passing yards
%button{'ng-click' =>'vm.changeStat("passing_tds")'} passing tds
%button{'ng-click' =>'vm.addPlayer()'} add another player
%button{'ng-click' =>'vm.removePlayer()'} remove
%button{'ng-click' =>'vm.removePlayer()'} remove
%button.button{'ng-click' => 'vm.toggleModal()'} Open Modal Dialog
%div(modal show='vm.modalShown')
  %span modal
%div(single_player_graph items='vm.items')

