%div Passing
%input{:type => 'text', 'ng-model' => 'vm.point_values.passing_yds'} yards per point
%input{:type => 'text', 'ng-model' => 'vm.point_values.passing_tds'} points per TD
%div Rushing
%input{:type => 'text', 'ng-model' => 'vm.point_values.rushing_yds'} yards per point
%input{:type => 'text', 'ng-model' => 'vm.point_values.rushing_tds'} points per TD
%div Receiving
%input{:type => 'text', 'ng-model' => 'vm.point_values.receiving_yds'} yards per point
%input{:type => 'text', 'ng-model' => 'vm.point_values.receiving_tds'} points per TD
