.scoring_system
  %table
    %td Scoring System
    %tr
      %td Passing
      %td
        %input{:type => 'text', 'ng-model' => 'query_string_options.point_values.passing_yds'} Yards per point
      %td
        %input{:type => 'text', 'ng-model' => 'query_string_options.point_values.passing_tds'} Points per TD
    %tr
      %td Rushing
      %td
        %input{:type => 'text', 'ng-model' => 'query_string_options.point_values.rushing_yds'} Yards per point
      %td
        %input{:type => 'text', 'ng-model' => 'query_string_options.point_values.rushing_tds'} Points per TD
    %tr
      %td Receiving
      %td
        %input{:type => 'text', 'ng-model' => 'query_string_options.point_values.receiving_yds'} Yards per point
      %td
        %input{:type => 'text', 'ng-model' => 'query_string_options.point_values.receiving_tds'} Points per TD
    %tr
      %td PPR
      %td
        %input{:type => 'text', 'ng-model' => 'query_string_options.point_values.reception'} Points per reception

