%span Customize your replacement player
%div
  %span Average the next
  .replacement_input
    %input.replacement_input{:type=>"text", 'ng-model' => 'vm.replacement_player.qb.csize'}
  %span QB's after removing the top
  .replacement_input
    %input.replacement_input{:type=>"text", 'ng-model' => 'vm.replacement_player.qb.offset'}
  %span scoring QB's
%div
  %span Average the next
  .replacement_input
    %input.replacement_input{:type=>"text", 'ng-model' => 'vm.replacement_player.rb.csize'}
  %span RB's after removing the top
  .replacement_input
    %input.replacement_input{:type=>"text", 'ng-model' => 'vm.replacement_player.rb.offset'}
  %span scoring RB's
%div
  %span Average the next
  .replacement_input
    %input.replacement_input{:type=>"text", 'ng-model' => 'vm.replacement_player.wr.csize'}
  %span WR's after removing the top
  .replacement_input
    %input.replacement_input{:type=>"text", 'ng-model' => 'vm.replacement_player.wr.offset'}
  %span scoring WR's
%div
  %span Average the next
  .replacement_input
    %input.replacement_input{:type=>"text", 'ng-model' => 'vm.replacement_player.te.csize'}
  %span TE's after removing the top
  .replacement_input
    %input.replacement_input{:type=>"text", 'ng-model' => 'vm.replacement_player.te.offset'}
  %span scoring TE's
.btn.btn-default(ng-click='vm.getReplacementPlayers()') get replacement players
