.replacement_player_table
  %table
    %tr
      %th(colspan='2') Customize your replacement player
    %tr
      %td
        %span QB's after removing the top
      %td
        %input.replacement_input{:type=>"text", 'ng-model' => 'vm.replacement_player.qb.offset'}
        %span scoring QB's
    %tr
      %td
        %span RB's after removing the top
      %td
        %input.replacement_input{:type=>"text", 'ng-model' => 'vm.replacement_player.rb.offset'}
        %span scoring RB's
    %tr
      %td
        %span WR's after removing the top
      %td
        %input.replacement_input{:type=>"text", 'ng-model' => 'vm.replacement_player.wr.offset'}
        %span scoring WR's
    %tr
      %td
        %span TE's after removing the top
      %td
        %input.replacement_input{:type=>"text", 'ng-model' => 'vm.replacement_player.te.offset'}
        %span scoring TE's
    %tr
      %td
        .btn.btn-default(ng-click='vm.getReplacementPlayers()') Get Replacement Players
