%span Customize your replacement player
%span Your replacement averages per week.

.button(ng-click='vm.getReplacementPlayers()') get replacement players
.button(ng-click='vm.setPosition("QB")') QB
.button(ng-click='vm.setPosition("RB")') RB
.button(ng-click='vm.setPosition("WR")') WR
.button(ng-click='vm.setPosition("TE")') TE
.button(ng-click='vm.updateReplacementPlayer()') Update
