%button{'ui-sref' => 'teams.offense', 'ng-click' => 'vm.getAllOffense()'} Aggregate Offense
%button{'ui-sref' => 'teams.defense', 'ng-click' => 'vm.getAllDefense()'} Aggregate Defense
%div
  %span(ng-repeat='team in vm.teams')
    %a{'ui-sref' => 'teams.singleTeam({id: team.team_id})'} {{team.team_id}}
%div(ui-view)

