%div(ng-show = "vm.expandedTeams")
  %div(ng-repeat='team in vm.teams')
    %a{'ui-sref' => 'teams.singleTeam({id: team.team_id})'} {{team.city}} {{team.name}}
%div(ng-show = "!vm.expandedTeams")
  %span(ng-repeat='team in vm.teams')
    %a{'ui-sref' => 'teams.singleTeam({id: team.team_id})'} {{team.team_id}}
%div(ui-view)

