%div this is the team defense page
%table.table
  %tr
    %th Vs Team
    %th Passing Yards
    %th Passing TDs
    %th Passing Points
    %th Rushing Yards
    %th Rushing TDs
    %th Rushing Points
    %th Receiving Yards
    %th Receiving TDs
    %th Receiving Points
    %th Total Points
  %tr(ng-repeat='team in vm.defense')
    %td {{team.opponent}}
    %td {{team.passing_yds}}
    %td {{team.passing_tds}}
    %td {{team.passing_points}}
    %td {{team.rushing_yds}}
    %td {{team.rushing_tds}}
    %td {{team.rushing_points}}
    %td {{team.receiving_yds}}
    %td {{team.receiving_tds}}
    %td {{team.receiving_points}}
    %td {{team.total_points}}
