%table.table
  %tr
    %th
      %a{:href => '#', "ng-click"=>"vm.orderBy='team'"} Vs Team
    %th
      %a{:href => '#', "ng-click"=>"vm.orderBy='passing_yds'"} Passing Yards
    %th
      %a{:href => '#', "ng-click"=>"vm.orderBy='passing_tds'"} Passing TDs
    %th
      %a{:href => '#', "ng-click"=>"vm.orderBy='passing_points'"} Passing Points
    %th
      %a{:href => '#', "ng-click"=>"vm.orderBy='rushing_yds'"} Rushing Yards
    %th
      %a{:href => '#', "ng-click"=>"vm.orderBy='rushing_tds'"} Rushing TDs
    %th
      %a{:href => '#', "ng-click"=>"vm.orderBy='rushing_points'"} Rushing Points
    %th
      %a{:href => '#', "ng-click"=>"vm.orderBy='receiving_yds'"} Receiving Yards
    %th
      %a{:href => '#', "ng-click"=>"vm.orderBy='receiving_tds'"} Receiving TDs
    %th
      %a{:href => '#', "ng-click"=>"vm.orderBy='receiving_points'"} Receiving Points
    %th
      %a{:href => '#', "ng-click"=>"vm.orderBy='total_points'"} Total Points
  %tr(ng-repeat="team in vm.defense | orderBy:vm.orderBy")
    %td {{team.opponent}}
    %td {{team.passing_yds}}
    %td {{team.passing_tds}}
    %td {{team.passing_points}}
    %td {{team.rushing_yds}}
    %td {{team.rushing_tds}}
    %td {{team.rushing_points}}
    %td {{team.receiving_yds}}
    %td {{team.receiving_tds}}
    %td {{team.receiving_points}}
    %td {{team.total_points}}
