#player_tooltip_table {
  width: 190px;
  td {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .total_points {
    background-color: yellow;
    font-weight: bold;
  }
  .passing_yds, .passing_tds {
    background-color: #7CB5EC;
  }
  .receiving_yds, .receiving_tds, .receiving_rec {
    background-color: #90ED7D;
  }
  .rushing_yds, .rushing_tds {
    background-color: #434348;
  }
}

#tooltip_name {
  font-weight: bold;
  font-size: 150%;
}

#checkbox_container {
  text-align: justify;
  width: 5.465%;
  display: inline-block;
  background-color:yellow;
}


.reveal-modal {
  min-height: 300px;
  transition: 0.2s ease-in-out all;
  transition-delay: 0.2s;
  opacity: 1;
  &.ng-hide-add {
    display: block !important;
  }
  &.ng-hide-remove {
    display: block !important;
  }
  &.ng-hide {
    opacity: 0;
  }
}
.ng-modal {
  transition: 0.2s ease-in-out opacity;
  .reveal-modal {
    display: block;
    visibility: visible;
  }
  .reveal-modal-bg {
    display: block;
  }
  &.ng-hide-add {
    display: block !important;
  }
  &.ng-hide-remove {
    display: block !important;
  }
  &.ng-hide {
    opacity: 0;
  }
}
.demo .button {
  margin: 60px auto 0;
  outline: none;
  &:focus {
    outline: none;
  }
}

