body { padding-top: 70px; }

.border-right {
  border-right: 1px solid;
}

.replacement_input {
  width: 40px;
  display: inline-block;
}

.team_graph {
  height: 25%;
  min-height: 250px;
}

.row.team_stats_row {
  margin-bottom: 10px;
}

#player_tooltip_table {
  width: 190px;
  td {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .total_points {
    background-color: yellow;
    font-weight: bold;
  }
  .passing_yds, .passing_tds {
    background-color: #7CB5EC;
  }
  .receiving_yds, .receiving_tds, .receiving_rec {
    background-color: #90ED7D;
  }
  .rushing_yds, .rushing_tds {
    background-color: #434348;
  }
}

#tooltip_name {
  font-weight: bold;
  font-size: 150%;
}

#checkbox_container {
  text-align: justify;
  width: 5.465%;
  display: inline-block;
  background-color:yellow;
}

.modal-custom{
  min-width: 65%;
}

.modal-content {
  padding: 20px;
}

.highcharts-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
