.btn.btn-default{'ng-class' => "query_string_options.positions.WR ? 'btn-primary' : 'btn-secondary'", 'ng-click' => "togglePosition('WR')"} WR
.btn.btn-default{'ng-class' => "query_string_options.positions.QB ? 'btn-primary' : 'btn-secondary'", 'ng-click' => "togglePosition('QB')"} QB
.btn.btn-default{'ng-class' => "query_string_options.positions.TE ? 'btn-primary' : 'btn-secondary'", 'ng-click' => "togglePosition('TE')"} TE
.btn.btn-default{'ng-class' => "query_string_options.positions.RB ? 'btn-primary' : 'btn-secondary'", 'ng-click' => "togglePosition('RB')"} RB
