.btn.btn-default{'ng-class' => "query_string_options.is_red_zone ? 'btn-primary' : 'btn-secondary'", 'ng-click' => "toggleRedZone()"} Red Zone
.btn.btn-default{'ng-class' => "query_string_options.sum ? 'btn-primary' : 'btn-secondary'", 'ng-click' => "toggleSumAvg('sum')"} Sum
.btn.btn-default{'ng-class' => "query_string_options.avg ? 'btn-primary' : 'btn-secondary'", 'ng-click' => "toggleSumAvg('avg')"} Avg

